<div class="section p-5 m-5 text-center">
  <h1>Index project mardi 10 novembre</h1>
  <br/>
</div>
<div class="container-fluid m-4 d-flex justify-content-around">
  <%= link_to "UI template", copain_ui_template_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Navbar", copain_navbar_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Footer", copain_footer_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Forms", copain_authentification_form_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Banner", copain_banner_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Cards", copain_cards_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Comments", copain_comments_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "Showpage", copain_showpage_path, class: "btn btn-primary" %><br/>
  <br/>
  <%= link_to "present_element", copain_present_element_path, class: "btn btn-primary" %><br/>
</div>
